body {
    margin: 0;
}

@keyframes menuDrop {
    0% {
        bottom: 72px;

    }
}

.container div {
    display: inline-block;
}

div.menu-container {

    --border-radius: 10px;
    --navbar-height: 30px;
    --list-height: 82px;
    --menu-width: 120px;

    position: relative;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    height: calc(var(--list-height) + var(--navbar-height) - var(--border-radius));
}

nav.menu-dropdown {
    left: 0;
    overflow: hidden;
    position: relative;
    width: var(--menu-width);
    height: var(--list-height);
    top: calc(var(--navbar-height)- var(--border-radius));
}

button {
    position: absolute;
    z-index: 10;
    width: var(--menu-width);
    height: var(--navbar-height);
    display: block;
    text-align: center;
    background-color: blueviolet;
    border-style: none;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

button:hover {
    filter: brightness(80%);
}

ul {
    position: absolute;
    margin: 0;
    padding: 0;
    padding-top: var(--border-radius);
    width: var(--menu-width);
    bottom: var(--list-height);
    border-style: none;
    list-style-type: none;
    transition-duration: 400ms;
    transition-property: bottom;
    transition-timing-function: ease-in-out;
    background-color: blueviolet;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

li {
    text-align: center;
}

ul.visible {
    bottom: 0;
}

li:hover {
    filter: brightness(80%);
}

a {
    text-decoration: none;
    color: ivory;
}